.log {
    border: none;
    background: $color-4;
    min-width: 490px;
    width: 90%;    
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;

    @media screen and (max-width: 550px) {
      min-width: 200px;
    }

    &-container {
      display: grid;
      grid-template-columns: 30% 70%;
      height: 100%;

      @media screen and (max-width: 550px) {
        grid-template-columns: 1fr;
      }

      ul {
        li {
          cursor: pointer;
          border-radius: 20px;
          padding: 10px 20px;
          transition: 0.2s;

          @media screen and (max-width: 550px) {
            width: 80%;
            margin: 0 auto;
          }
        }
        .active-btn {
          background: $color-1;

          &:hover {
            background: $color-2;
          }
        }
        li:not(.active-btn) {
          &:hover {
            transform: translateX(3px);
          }
        }
        #login {
          position: relative;
          @media screen and (max-width: 550px) {
            margin-bottom: 30px;

            &:after {
              content: "";
              position: absolute;
              bottom: -10px;
              left: 50%;
              transform: translateX(-50%);
              width: 80%;
              height: 1px;
              background: $color-2;
            }
          }
        }
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        input, label, .generalConditions {
          margin-top: 0.5rem;
        }
        input {
          padding: 14px 20px;          
          font-size: 1.2rem;
          font-family: $font-2;
          border-radius: 20px;
          &:focus {
            box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
          }
        }
        a {
          color: rgb(62, 62, 214);
        }
      }
    }
  }